---
layout: page
title: San Rocé | Bières
section_id: beers-page
permalink: /beers/
---

<nav class="nav-column">
  {% include nav_home.html %}
  {% include nav_history.html %}
  {% include nav_find.html %}
  {% include nav_contact.html %}
</nav>

<main class="beers">
  <div class="content">
    <h1>NOS TYPES DE BIERES</h1>
    <ul>
      <li>BLONDE</li>
      <li>AMBREE</li>
      <li>BRUNE</li>
      <li>TRIPLE</li>
      <li>DE SAISON</li>
    </ul>

    <h2>POUR LES PETITES SOIFS</h2>
    <p>Des bouteilles de 75 cl pour</p>
    <p>chacune des bières.</p>

    <h2>POUR LES GRANDES SOIFS</h2>
    <p>Des futs de 30 L sont disponibles</p>
    <p>en bière <span>blonde</span>, <span>ambrée</span> et <span>triple</span>.</p>
    <p class="paragraph italik">Prêt de tireuse + gobelets.</p>
    <p class="italik">Possibilité de livraison pour</p>
    <p class="italik">les grosses commandes.</p>

    <h2>POUR LES BARS</h2>
    <p>Possibilité de fûts de 20 L</p>
    <p>en bière <span>blonde</span>, bière <span>ambrée</span></p>
    <p>et <span>triple</span>.</p>

    <h2>POUR OFFRIR</h2>
    <p>Des pochettes de 3 bouteilles.</p>
  </div>

  {% include suite.html %}

</main>
