---
layout: page
title: San Rocé | Historique
section_id: history-page
permalink: /history/
---

<nav class="nav-column">
  {% include nav_home.html %}
  {% include nav_beers.html %}
  {% include nav_find.html %}
  {% include nav_contact.html %}
</nav>

<main class="history">
  <div class="content">
    <p>Les premières bières « San Rocé »  ont été brassées</p>
    <p>en avril 2010 à la « Brasserie du Bouffay » à Carquefou,</p>
    <p>en attendant la construction de la micro brasserie sur Jans.</p>
    <p>A cette période, associé avec Francois Chevalier</p>
    <p>à L’EARL Les Landes du Luquet à Vay  (production de cidre,</p>
    <p>vinaigre de cidre, jus de pommes, farine, pain, moutons),</p>
    <p>j’ai appris à cultiver les céréales qui ont été utilisées, en partie,</p>
    <p>pour la fabrication de la Bière. Le 1er brassin dans la</p>
    <p>micro brasserie à Jans s’est fait en septembre 2012.</p>
    <p>Le réseau de la ferme m’a permis de développer ma</p>
    <p>production, la charge de travail devenant importante,</p>
    <p>nous avons convenu de dissocier les activités.</p>
    <p>C’est pourquoi au 1er juin 2014 la Brasserie</p>
    <p>« San Rocé » a été créée.</p>

    <p class="paragraph">Un grand merci à l’équipe de la Brasserie</p>
    <p>du Bouffay et de l’EARL les Landes du Luquet</p>
    <p>de m’avoir soutenu dans mon projet.</p>
    <p>Un autre grand merci à tous les gens</p>
    <p>qui boivent de la « San Rocé ».</p>
    <p>A Votre Santé !</p>
  </div>

  {% include suite.html %}

</main>
