nav
  position: absolute
  display: flex
  flex-direction: column
  justify-content: space-between
  top: 315px
  height: 95px
  a
    height: 37px
  img
    border-radius: 8px
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.8)

.nav-left
  left: $nav-from-borders
  width: 114px

.nav-right
  right: $nav-from-borders
  width: 100px
  a:first-child
    height: 48px
