nav
  position: absolute
  display: flex
  flex-direction: column
  justify-content: space-between
  top: 315px
  height: 95px

a
  border-radius: 10px
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.8)

.nav-column
  top: 125px
  left: $nav-from-borders
  align-items: center
  height: 218px

.nav-left
  left: $nav-from-borders

.nav-right
  right: $nav-from-borders

#contact-button
  height: 36px
  width: 100px
  background-image: url('../img/contact.png')
  &:hover
    background-image: url('../img/contact2.png')

#find-button
  height: 48px
  width: 100px
  background-image: url('../img/find_us.png')
  &:hover
    background-image: url('../img/find_us2.png')

#home-button
  height: 34px
  width: 104px
  background-image: url('../img/home.png')
  &:hover
    background-image: url('../img/home2.png')

#history-button
  height: 37px
  width: 114px
  background-image: url('../img/history.png')
  &:hover
    background-image: url('../img/history2.png')

#beers-button
  height: 37px
  width: 114px
  background-image: url('../img/our_beers.png')
  &:hover
    background-image: url('../img/our_beers2.png')
